{%extends 'fold/base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block content %}
{{block.super}}
<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Playfair+Display+SC" rel="stylesheet">
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


 

<div id="main">
  <div class="card"></div>
  <div class="img"></div>
  <div class="article"><p>SOMEBODY GREAT</p></div>
  <div class="block"></div>
  <div class="headline"><h1>SB</h1>Ruth Wanjira Mugo</div>
  <div class="para"><p>Memories are like tuners of fantasy<br>Once triggered,the past is revieled<br>Great philosophers write uniqueness<br>that even their deaths trigger the words they uttered,<br>rather than getting shattered <br>
Maybe my words are short,clear,normal<br>but i speak my thoughts to those who listen<br>Life is like a movie,mine and so is yours<br>you know what a movie entails<br>Sit down,choose your title,characters,logic,fantasy and the director<br>Thank you</p></div>
    <div id="dot"></div>
</div>

{% endblock %}