{%extends 'fold/base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block content %}
{{block.super}}
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&display=swap" rel="stylesheet"> 
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
<div class="dark" style="font-family: 'Kaushan Script', cursive;font-family: 'Open Sans', sans-serif;">
    <div class="image">
        <video autoplay muted loop id="myVideo" style="display: block;margin:0 auto;">
            <source src="{% static 'images/smoke.mp4'%}" type="video/mp4"></video>
            <div class="overlay"> 
                <h1>WELCOME</h1>
                <h3>Software Developer with a twist of art</h3>
                <div class="row">
                    <div class="col-md-4">
                <a href="#about">About</a>
                    </div>
                    <div class="col-md-4">
                <a href="#portfolio">Portfolio</a> 
                    </div>
                        <div class="col-md-4">
                            <a href="#contact">contact</a> 
                        </div>
                </div>
            </div>
        
          
        <!-- <img src="{% static 'images/ruth.jpg'%}" class="thumbnail" style="width: 1500px;height: 1500px;" > -->

    </div>
</div>
<!-- about page -->
<section id="about" class="container-fluid">

    <div class="row section-banner">
      <div class="col-md-offset-3 col-md-6 text-center">
        <div>
          <span class="line about"></span>
          <span class="section-title about">about</span>
          <span class="line about"></span>
        </div>
      </div>
    </div>


    <div class="row max">

      <div class="col-sm-4 text-center">
        <div class="desc">
          <div class="icon-me"><i class="fa fa-user"></i></div>
          <h2>Software Developer</h2>
          <p>I am a junior software Developer still studing in Moringa School.I have a few weeks left to see the best of what i have done in the past few months.</p>
          <p>You can view an example in the link below</p>
          <a href="#portfolio">Portfolio</a>
        </div>
      </div>

      <div class="col-sm-4 text-center">
        <div class="desc">
          <div class="icon-me"><i class="fa fa-mortar-board"></i></div>
          <h2>Poet</h2>
          <p>I am also a poet,I have been able to write many poems from my highschool days,not advanced like a professional but a bit of a life mix tale.</p>
          <p>You can view an example in the link below</p>
          <a href="{% url 'about' %}">Poems</a>
        </div>
      </div>

      <div class="col-sm-4 text-center">
        <div class="desc">
          <div class="icon-me"><i class="fa fa-rocket"></i></div>
          <h2>Hand Tuiting</h2>
          <p>I also hand tuit  as a hobby and hope one day to actually create a platform for a showcase in kenya. </p>
          <p>You can view an example in the link below</p>
          <a href="{% url 'pic' %}">video</a>
        </div>
      </div>

    </div>


  </section>
<!-- portfolio projects page -->
<section id="portfolio" class="container-fluid">

    <div class="row section-banner">
      <div class="col-md-offset-3 col-md-6 text-center">
        <div>
          <span class="line portfolio"></span>
          <span class="section-title portfolio">portfolio</span>
          <span class="line portfolio"></span>
        </div>
      </div>
    </div>


    <div class="row max">
      <div class="col-sm-offset-2 col-sm-8 text-center">
        <div class="desc">
          <p>This is a presentation of my works for th past few months in Moringa school.The cards below  has the liv links and the links to my github repositories.Click on it for a flip </p>
        </div>
      </div>
    </div>
  </section>





<!-- Hero Unit -->
<!-- <section class="hero-unit">

    <div class="row">
      <div class="large-12 columns">
  
  
        <ul class="small-block-grid-2 medium-block-grid-3 flip-cards">
  
          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front">
              <a href="#">Quote</a>
              <i class="fa fa-code card-icon "></i>
            </div>
            <div class="panel card-back">
              <i class="fa fa-code card-icon"></i>
              <div class="hub-info">
                <a href="#">Link</a>
                <p>A flask app where one can write their quotes and like other peoples quotes</p>
              </div>
              <!-- <small class="clear">Updated TTH.</small> -->
            <!-- </div>
          </li>
  
          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front">
              <a href="">News Update</a>
              <i class="fa fa-pencil-square-o card-icon"></i>
            </div>
  
            <div class="panel card-back">
              <i class="fa fa-pencil-square-o card-icon"></i>
              <div class="hub-info">
                <a href="">Link</a>
                <p>This is a flask app that uses a news api to desplay the top-headlines,articles and mant more</p>
              </div>
              <small class="clear">Github</small>
            </div>
          </li>
  
          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front">
              <a href="">My Blog</a>
              <i class="fa fa-paper-plane-o card-icon"></i>
            </div>
  
            <div class="panel card-back">
              <i class="fa fa-paper-plane-o card-icon"></i>
              <div class="hub-info">
                <a href="">Link</a>
                <p>This is a blog app where a user who is logged in can like and comment on other peoples posts and also post theirs</p>
              </div>
              <small class="clear">Github</small>
            </div>
          </li>
  
          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front">
              <a href="">Gallery App</a>
              <i class="fa fa-map-o card-icon"></i>
            </div>
  
            <div class="panel card-back">
              <i class="fa fa-map-o card-icon"></i>
              <div class="hub-info">
                <a href="">Link</a>
                <p>This is a Django Gallery app where one can be able to view my gallery in the various categories i have through a search bar</p>
              </div>
              <small class="clear">Github</small>
            </div>
          </li>
  
          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front">
              <a href="http://www.keytokorean.com">Movie app</a>
              <i class="fa fa-language card-icon"></i>
            </div>
  
            <div class="panel card-back">
              <i class="fa fa-language card-icon"></i>
              <div class="hub-info">
                <a href="">Link</a>
                <p>This a clone of Netflix where one can be able to see the different movies streamed in that app and also see various trailers</p>
              </div>
              <small class="clear">Github</small>
            </div>
          </li>
  
          <li ontouchstart="this.classList.toggle('hover');">
            <div class="large button card-front">
              <a href="http://www.aicfchurch.org">Instagram</a>
              <i class="fa fa-users card-icon"></i>
            </div>
  
            <div class="panel card-back">
              <i class="fa fa-users card-icon"></i>
              <div class="hub-info">
                <a href="">Link</a>
                <p>This is a clone of the instagram app Where a logged in user can be able to like ,comment and post </p>
              </div>
              <small class="clear">Github</small>
            </div>
          </li>
  
        </ul>
      </div> -->
        <!-- end .clients -->






        <!-- contact -->
<!-- 
<section id="contact">
  
  <h1 class="section-header">CONTACT</h1>
  
  <div class="contact-wrapper">
     -->
      

      <!-- CONTACT PAGE LEFT  -->
    
      
    
    <!-- <form class="form-horizontal" role="form" method="post" action="contact.php">
       
      <div class="form-group">
        <div class="col-sm-12">
          <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12">
          <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="">
        </div>
      </div>

      <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message"></textarea>
      
      <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
        <div class="button">
          <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
        </div>
      
      </button>
      
    </form>
     -->
    

      <!-- CONTACT PAGE RIGHT  -->
    
    
    
      <!-- <div class="direct-contact-container">

        <ul class="contact-list">
          <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">Syokimau,katani</span></i></li>
          
          <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:0752932402" title="Give me a call">0752932402</a></span></i></li>
          
          <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="" title="Send me an email">ruthwanjiramugo@gmail.com</a></span></i></li>
          
        </ul>

        <hr>
        <ul class="social-media-list">
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-github" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-twitter" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-instagram" aria-hidden="true"></i></a>
          </li>
          <li><a href="#" target="_blank" class="contact-icon">
            <i class="fa fa-watsapp" aria-hidden="true"></i></a>
          </li>
        </ul>
        <hr>

      </div>
    
  </div>
  
</section>  
  
  
</div> -->
{% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

     {% bootstrap_javascript %}
{% endblock %}
{%endblock%}