{%extends 'fold/base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block content %}
{{block.super}}
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&display=swap" rel="stylesheet"> 
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
<div class="dark" style="font-family: 'Kaushan Script', cursive;font-family: 'Open Sans', sans-serif;">
    <div class="image">
        <video autoplay muted loop id="myVideo" style="display: block;margin:0 auto;">
            <source src="{% static 'images/smoke.mp4'%}" type="video/mp4"></video>
            <div class="overlay"> 
                <h1>WELCOME</h1>
                <h3>Software Developer with a twist of art</h3>
            </div>
        
          
        <!-- <img src="{% static 'images/ruth.jpg'%}" class="thumbnail" style="width: 1500px;height: 1500px;" > -->

    </div>
</div>

</div>
{% endblock %}