{%extends 'fold/base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block content %}
{{block.super}}
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&display=swap" rel="stylesheet"> 
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
<div class="dark" style="font-family: 'Kaushan Script', cursive;font-family: 'Open Sans', sans-serif;">
    <div class="image">
        <video autoplay muted loop id="myVideo" style="display: block;margin:0 auto;">
            <source src="{% static 'images/smoke.mp4'%}" type="video/mp4"></video>
            <div class="overlay"> 
                <h1>WELCOME</h1>
                <h3>Software Developer with a twist of art</h3>
                <div class="row">
                    <div class="col-md-4">
                <a href="#about">About</a>
                    </div>
                    <div class="col-md-4">
                <a href="#portfolio">Portfolio</a> 
                    </div>
                </div>
            </div>
        
          
        <!-- <img src="{% static 'images/ruth.jpg'%}" class="thumbnail" style="width: 1500px;height: 1500px;" > -->

    </div>
</div>
<!-- about page -->
<section id="about" class="container-fluid">

    <div class="row section-banner">
      <div class="col-md-offset-3 col-md-6 text-center">
        <div>
          <span class="line about"></span>
          <span class="section-title about">about</span>
          <span class="line about"></span>
        </div>
      </div>
    </div>


    <div class="row max">

      <div class="col-sm-4 text-center">
        <div class="desc">
          <div class="icon-me"><i class="fa fa-user"></i></div>
          <h2>Software Developer</h2>
          <p>I am a junior software Developer still studing in Moringa School.I have a few weeks left to see the best of what i have done in the past few months.</p>
        </div>
      </div>

      <div class="col-sm-4 text-center">
        <div class="desc">
          <div class="icon-me"><i class="fa fa-mortar-board"></i></div>
          <h2>Poet</h2>
          <p>I am also a poet,I have been able to write many poems from my highschool days,not advanced like a professional but a bit of a life mix tale.</p>
        </div>
      </div>

      <div class="col-sm-4 text-center">
        <div class="desc">
          <div class="icon-me"><i class="fa fa-rocket"></i></div>
          <h2>Hand Tuiting</h2>
          <p>I also hand tuit  as a hobby and hope one day to actually create a platform for a showcase in kenya. </p>
        </div>
      </div>

    </div>


  </section>
<!-- portfolio projects page -->
<section id="portfolio" class="container-fluid">

    <div class="row section-banner">
      <div class="col-md-offset-3 col-md-6 text-center">
        <div>
          <span class="line portfolio"></span>
          <span class="section-title portfolio">portfolio</span>
          <span class="line portfolio"></span>
        </div>
      </div>
    </div>


    <div class="row max">
      <div class="col-sm-offset-2 col-sm-8 text-center">
        <div class="desc">
          <p>These items are mainly exercises done whilst undertaking a full stack development course with Free Code Camp. The details are on the back of the cards with links to my CodePen and live sites.</p>
        </div>
      </div>
    </div>


    <!-- portfoloio projects cards -->

    <div class="row" id="theProjects">

    </div>
  </section>





</div>
{% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

     {% bootstrap_javascript %}
{% endblock %}
{%endblock%}